<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc_house">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowAddressDetails"></activity>
        <activity android:name=".EditAddressDetails" />
        <activity android:name=".AddNewAddress" />
        <activity android:name=".loging" />
        <activity android:name=".Register" />
        <activity android:name=".Entering" />
        <activity android:name=".Item_Display" />
        <activity android:name=".Cart" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>